@font-face {
	font-family: JuneBug;
	src: url("./Grand\ Wilson\ Sans\ DEMO.otf") format("opentype");
}
h1 {
	font-size: 6rem;
	font-family: "Grand Wilson", sans-serif;
	color: white;
	text-align: center;
}

@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
	h1 {
		font-size: 4rem;
	}

	#logo-image {
		width: 50px;
	}
}

body {
	overflow: hidden;
}

.content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	position: absolute;
	align-self: flex-start;
	justify-self: flex-start;
}

#logo-image {
	width: 150px;
}

.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fd9d43,
			0 0 40px #fd9d43, 0 0 50px #fd9d43, 0 0 60px #fd9d43, 0 0 70px #fd9d43;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
			0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}
